.select-box {
  height: 40px;
  width: 200px;
  position: relative;
}
.select-drop {
  padding-left: 15px;
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #bbbbbb;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.img-select {
  width: 20px;
  height: 100%;
  background-position: center;
  background-image: url("../../assets/icon/dropdown.png");
  padding-right: 15px;
  background-size: 20px;
  background-repeat: no-repeat;
}
.dropup-list {
  height: 120px;
  width: 100%;
  border: none;
  outline: none;
  position: absolute;
  z-index: 99;
  box-sizing: border-box;
  margin-top: 4px;
  cursor: pointer;
  bottom: 105%;
}
.dropdownhind {
  display: none;
}
.choosed {
  background-color: #019160 !important;
}
.dropdown-list-item {
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid #bbbbbb;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.dropdown-list-item:hover {
  background-color: #bbbbbb;
}
